
body {
    background-color: lightgray;
}
.container {
    width: 90%;
    display: flex;
    margin: auto;
    background-color: whitesmoke;
    
}

#kepdoboz img {
    width: 800px;
    height: 600px;
    margin: auto;
}

#balranyil img {
    transform: scale(2, 0.5);
    width: 140px;
    height: 60px;
}

#jobbranyil img {
    transform: scale(0.5) translate(-100%, -100%);
}