
body {
    background-color: lightgray;
}
.container {
    width: 90%;
    display: flex;
    margin: auto;
    background-color: whitesmoke;
    
}

#kepdoboz img {
    width: 800px;
    height: 600px;
    margin: auto;
}

#balranyil img {
    display:flex;
    transform: scale(0.7);
    align-items: center;
    margin-left: 10px;
    
}

#jobbranyil {
    display: flex;
    transform: scale(0.7) ;
    transform: rotate(1 turn);
    align-items: center;
}