body {
    background-color: lightgray;
    display: flex;    
    }

.container {
    width: 60%;
    display: flex;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px dimgray;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#kepdoboz {
    display: flex;
    align-items: center;
}

#kepdoboz img {
    width: 800px;
    height: 600px;
    margin: auto;
}

#balranyil {
    margin-right: 30px;
    justify-content: center;
    
}

#jobbranyil {
    transform: rotate(180deg);
    margin-left: 30px;
}